<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ username }}'s followers</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    {% include 'style.html' %}
</head>
<body>
{% include 'navbar.html' %}

<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">You can see your followers.</h5>
        </div>

    </div>
    <h1>Followers</h1>

    <tr>
        <td valign="top">
            <table border="1" cellpadding="10" cellspacing="0">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Followers</th>
                </tr>
                </thead>
                <tbody>
                {% if report %}
                {% for id, item in enumerate(report, start=1) %}
                <tr>
                    <td>{{ id }}</td>
                    <td>{{ item[2] }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="2"></td>
                </tr>
                {% endif %}
                </tbody>

        </td>

    </tr>

</div>
</body>
</html>