<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Followers</title>
</head>
<body>
<a href="/logout">logout</a><br>
<a href="/login/account/post">posts</a><br>
<a href="/login/account/add_post">add post</a><br>
<a href="/login/account/search_to_follow">search to follow</a><br>
<a href="/login/account/followers">followers</a><br>
<a href="/login/account/followings">followings</a><br><br>


Hi {{username}}, you can see your followers.<br><br><br>
<h1>Followers</h1>
<table border="0" cellpadding="10" cellspacing="0">
    <tr>
        <td valign="top">
            <table border="1" cellpadding="10" cellspacing="0">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Followers</th>
                </tr>
                </thead>
                <tbody>
                {% if report %}
                {% for id, item in enumerate(report, start=1) %}
                <tr>
                    <td>{{ id }}</td>
                    <td>{{ item[2] }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="2"></td>
                </tr>
                {% endif %}
                </tbody>
            </table>
        </td>

    </tr>
</table>
</body>
</html>