<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ username }}'s posts</title>
    {% include 'style.html' %}
    <script>
        function confirmDelete(itemTitle) {
            return confirm("Are you sure you want to delete the post titled: " + itemTitle + "?");
        }
    </script>
</head>
<body>

{% include 'navbar.html' %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">You can see your posts</h5>
        </div>
    </div>
    <h1>Posts</h1>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Date</th>
            <th>Content</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% if post %}
            {% for id, item in enumerate(post, start=1) %}
                <tr>
                    <td>{{ id }}</td>
                    <td>{{ item[2] }}</td>
                    <td>{{ item[3] }}</td>
                    <td>{{ item[4] }}</td>
                    <td>
                        <form action="/login/account/delete_post" method="post"
                              onsubmit="return confirmDelete('{{ item[2] }}');">
                            <input type="hidden" name="title" value="{{ item[2] }}">
                            <button type="submit">Remove</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="5">No posts available.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>
</body>
</html>
