<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ username }}-search to follow</title>
    {% include 'style.html' %}

</head>

<body>

{% include 'navbar.html' %}
<div class="container">
    <h2>Adding user</h2>
    <p>Please search a valid username to add a new following</p>
    <form id="searchForm" action="/login/account/search_to_follow" method="POST" class="was-validated">
        <div class="form-group">
            <label for="search">Search to follow:</label>
            <input type="text" class="form-control" id="search" placeholder="search username" name="search_to_follow"
                   required oninput="auto_search()">
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <button type="button" id="followButton" class="btn btn-primary" disabled>Follow</button>
    </form>
    {% if no_user %}
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Warning!</strong> <strong>"{{ search }}"</strong> not found.
    </div>
    {% endif %}
    {% if self_follow %}
    <div class="alert alert-info alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Warning!</strong> you can not follow yourself!
    </div>
    {% endif %}
    {% if duplicate_follow %}
    <div class="alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Warning!</strong> you already following <strong>"{{ search }}"</strong>.
    </div>
    {% endif %}
    {% if new_follow %}
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Acceptable!</strong> You can add <strong>"{{ search }}"</strong> to your followings. please hit the
        button.
    </div>
    <script>document.getElementById('followButton').disabled = false;</script>
    {% endif %}
    {% if follow_added %}
    <div class="alert alert-primary alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Success!</strong> <strong>"{{ search }}"</strong> was added to your followings.
    </div>
    {% endif %}
</div>
<script src="/static/scripts/auto_search.js"></script>
<script>

    window.onload = function () {
        const searchInput = '{{ search | safe }}';
        if (searchInput) {
            document.getElementById('search').value = searchInput;
        }
    };

</script>
</body>
</html>
